{{- if .Values.rbac.create -}}
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "pghero-controller.fullname" . }}-manager-role
  labels:
    {{- include "pghero-controller.labels" . | nindent 4 }}
rules:
- apiGroups:
  - pghero.mithucste30.io
  resources:
  - databases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - pghero.mithucste30.io
  resources:
  - databases/finalizers
  verbs:
  - update
- apiGroups:
  - pghero.mithucste30.io
  resources:
  - databases/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - ""
  resources:
  - configmaps
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
{{- end }}
